<h1>{{ titulo }}</h1>
<hr />
<div>INTERPOLACION: Hola {{ nombreInterpolacion }}</div>
<div>
  VARIABLES DE PLANTILLA:
  <input type="text" #nombreInput />
  <button (click)="saludar(nombreInput.value)">Saludar</button>
</div>
<div>
  PROPERTY BINDING(One Way Data Binding) | TS -> HTML:
  <input type="text" [disabled]="banderaPropertyBinding" />
</div>
<div>
  EVENT BINDING | HTML -> TS:
  <button (click)="eventBinding($event)">Registrar</button>
  {{ textoEventBinding }}
</div>
<div>
  TWO WAY DATA BINDING: {{ twoWayDataBindingBidireccional }}:
  <input type="text" [(ngModel)]="twoWayDataBindingBidireccional" />
</div>
<div>
  <p>
    DIRECTIVAS ESTRUCTURALES: *ngIf
    <button (click)="cambiarBandera()">Cambiar bandera</button>
  </p>
  <p *ngIf="banderaIf; else templateNotFound">-> {{ textoForTrue }}</p>
  <ng-template #templateNotFound>
    <p>-> Aqui ingresa por False o si no se cumplio el IF</p>
  </ng-template>
</div>
<div>
  <p>DIRECTIVAS ESTRUCTURALES: *ngFor</p>
  <ul *ngFor="let lenguaje of lenguajesProgramacionFor">
    <li>{{ lenguaje }}</li>
  </ul>
</div>
<div>
  <p>DIRECTIVAS ESTRUCTURALES: *ngSwitch</p>
  <div [ngSwitch]="binarioSwitch">
    <div *ngSwitchCase="0">Valor de 0</div>
    <div *ngSwitchCase="1">Valor de 1</div>
    <div *ngSwitchDefault>Otro</div>
  </div>
</div>
